In [ ]:
a= ("rick","dip","ram","rimi")
a[::-1]

('rimi', 'ram', 'dip', 'rick')

In [ ]:
##Q!. REVERS STRING
ab=("hello nilesh", "dip","sinha")
list(reversed(ab))

['sinha', 'dip', 'hello nilesh']

In [ ]:
##Q2. VOLIUME
b="hello python"
len (b)

12

In [ ]:
##Q3. PALONDROM
str="madam"
str1= reversed(str)

if list(str)== list(str1):
  print('it is palandroma')
else:
  print('it is not palandroma')

it is palandroma

In [ ]:
##Q4 ANAGRAM
s= 'race'
s1= 'care'
sorted_s= sorted(s)
sorted_s1=sorted(s1)
if sorted_s==sorted_s1:
  print(f"{s} and {s1}  both are anagram ")
else:
  print(f"{s} and {s1}  both are not anagram ")

race and care  both are anagram

In [ ]:
##Q5. OCCURRENCES
def print_indices(s, sub):
    pos = s.find(sub)

    if pos == -1:
        print("NONE")

    while pos != -1:
        print(pos, end=" ")
        pos = s.find(sub, pos + 1)

if __name__ == "__main__":
    str1 = "GeeksforGeeks"
    str2 = "Geeks"
    print_indices(str1, str2)

0 8

In [ ]:
##Q6.
def solve(s):
   res = ""
   cnt = 1
   for i in range(1, len(s)):
      if s[i - 1] == s[i]:
         cnt += 1
      else:
         res = res + s[i - 1]
         if cnt > 1:
            res += str(cnt)
         cnt = 1
   res = res + s[-1]
   if cnt > 1:
      res += str(cnt)
   return res

s = "abbbaaaaaaccdaaab"
print(solve(s))

ab3a6c2da3b

In [ ]:
##Q7.
st = "abcvjkrld"
a=""
for i in st:
    if i not in a:
        a+=i
if(a==st):
    print(True)
else:
    print(False)

True

In [ ]:
##Q8.
text= "i am Nilesh Sinha"
##upper
print (text.upper())
##lower
print (text.lower())

I AM NILESH SINHA
i am nilesh sinha

In [ ]:
##Q9. count the word (9)
count_word = len(" i am electrical engineering student of BP PODDAR ".split())
print("Count of word in the given sentance is ", count_word)

Count of word in the given sentance is  8

In [ ]:
##Q10. 2 word add without + operater
word1= "Hello"
word2= " I am a student"
sen= "".join([word1,word2])
print(sen)

Hello I am a student

In [ ]:
#Q11. remove all occurrences of element in list
test_list = [1, 3, 4, 6, 5, 1]
ele=1
x=[j for i,j in enumerate(test_list) if j!=ele]
print(x)

[3, 4, 6, 5]

In [ ]:
#Q12.  Python program to find largest number
# in a list

# List of numbers
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]

# Removing duplicates from the list
list2 = list(set(list1))

# Sorting the  list
list2.sort()

# Printing the second last element
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [ ]:
##Q13.
def CountFrequency(my_list):

    # Creating an empty dictionary
    count = {}
    for i in [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]:
        count[i] = count.get(i, 0) + 1
    return count


# Driver function
if __name__ == "__main__":
    my_list = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
    print(CountFrequency(my_list))

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [ ]:
##Q14. without out revers function
las= [1,2,3,4,5,6,7,8]
print(las[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
##Q15. test_list1 = [1, 5, 3, 6, 3, 5, 8, 8, 6, 1]
print ("The original list is : "
        + str(test_list1))

# using set() to remove duplicated from list
test_list1 = list(set(test_list1))

# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
        + str(test_list1))

The original list is : [1, 5, 3, 6, 3, 5, 8, 8, 6, 1]
The list after removing duplicates : [1, 3, 5, 6, 8]

In [ ]:
##(Q16)
test_list2 = [1, 4, 5, 8, 10]

# printing original list
print ("Original list : " + str(test_list2))

# using sorted() to
# check sorted list
flag = 0
if(test_list2 == sorted(test_list2)):
    flag = 1

# printing result
if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [ ]:
##(Q17)
test_list3 = [1, 5, 6, 9, 11]
test_list4 = [3, 4, 7, 8, 10]

# printing original lists
print ("The original list 1 is : " + str(test_list3))
print ("The original list 2 is : " + str(test_list4))

# using sorted()
# to combine two sorted lists
res = sorted(test_list3 + test_list4)

# printing result
print ("The combined sorted list is : " + str(res))

The original list 1 is : [1, 5, 6, 9, 11]
The original list 2 is : [3, 4, 7, 8, 10]
The combined sorted list is : [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
##Q18,
def intersection(lst3, lst4):
    lst5 = [value for value in lst3 if value in lst4]
    return lst5

# Driver Code
lst3 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst4 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst3, lst4))

[9, 11, 26, 28]

In [ ]:
##(Q19)
def Union(lst6, lst7):
    final_list = lst6 + lst7
    return final_list

# Driver Code
lst6 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst7 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst6, lst7))

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

In [ ]:
##(Q20)
import random
test_list6 = [1, 4, 5, 6, 3]

print("The original list is : " + str(test_list6))

# using random.sample()to shuffle a list
res = random.sample(test_list6, len(test_list6))

print("The shuffled list is : " + str(res))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [6, 3, 4, 5, 1]

In [ ]:
##(Q21)
test_tuple1 = (4, 5)
test_tuple2 = (7, 8)

# printing original tuples
print("The original tuple 1 : " + str(test_tuple1))
print("The original tuple 2 : " + str(test_tuple2))

# All pair combinations of 2 tuples
# Using list comprehension
res =  [(a, b) for a in test_tuple1 for b in test_tuple2]
res = res +  [(a, b) for a in test_tuple2 for b in test_tuple1]

# printing result
print("The filtered tuple : " + str(res))

The original tuple 1 : (4, 5)
The original tuple 2 : (7, 8)
The filtered tuple : [(4, 7), (4, 8), (5, 7), (5, 8), (7, 4), (7, 5), (8, 4), (8, 5)]

In [ ]:
##(Q22)
s1 = {1, 2, 3}
s2 = {2, 3, 5}
print(s1.intersection(s2))

{2, 3}

In [ ]:
##(Q23)
# Ways to concatenate tuples
# using + operator

# initialize tuples
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))

# Ways to concatenate tuples
# using + operator
res1 = test_tup1 + test_tup2

# printing result
print("The tuple after concatenation is : " + str(res1))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [ ]:
##(Q26)
A1 = {'ab', 'ba', 'cd', 'dz'}
B1 = {'cd', 'ab', 'dd', 'za'}

print("Union of A1 and B1:", A1.union(B1))

Union of A1 and B1: {'ab', 'cd', 'ba', 'dz', 'za', 'dd'}

In [ ]:
##(Q27)
test_list8 = [(2, 3), (4, 7), (8, 11), (3, 6)]

# create a list of all values in the tuples
values = [val for tup in test_list8 for val in tup]

# sort the list of values
sorted_values = sorted(values)

# find the min and max values
min_val = sorted_values[0]
max_val = sorted_values[-1]

# printing result
print("The minimum value is: ", min_val)
print("The maximum value is: ", max_val)

The minimum value is:  2
The maximum value is:  11

In [ ]:
##(Q28)
A1 = {'ab', 'ba', 'cd', 'dz'}
B1 = {'cd', 'ab', 'dd', 'za'}

## UNION OF TWO
print("Union of A1 and B1:", A1.union(B1))

## INTERSECTION OF TWO
print("A1 intersection B1 : ",
      A1.intersection(B1))

## DIFFERANCE OF TWO
print("Differance of A1 and B1:", A1.difference(B1))

Union of A1 and B1: {'ab', 'cd', 'ba', 'dz', 'za', 'dd'}
A1 intersection B1 :  {'cd', 'ab'}
Differance of A1 and B1: {'ba', 'dz'}

In [ ]:
##(Q29)
tuple5=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
x1=list(filter(lambda i: (i==10),tuple5))
x2=list(filter(lambda i: (i==8),tuple5))

print("the element 10 occurs",len(x1),"times")
print("the element 8 occurs",len(x2),"times")

the element 10 occurs 3 times
the element 8 occurs 4 times

In [ ]:
##(30)
set_A = {"ram", "rahim", "ajay", "rishav", "aakash"}
set_B = {"aakash", "ajay", "shyam", "ram", "ravi"}
print("Symmetric Difference TWO String is:",(set_A ^ set_B))

Symmetric Difference TWO String is: {'shyam', 'rishav', 'rahim', 'ravi'}

In [ ]:
##(Q31)
def CountFrequency(my_list):

    # Creating an empty dictionary
    count = {}
    for i in [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]:
        count[i] = count.get(i, 0) + 1
    return count


# Driver function
if __name__ == "__main__":
    my_list = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
    print(CountFrequency(my_list))

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [ ]:
## (Q32)
# Python program to combine two dictionary
# adding values for common keys
from collections import Counter

# initializing two dictionaries
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}


# adding the values with common key

Cdict = Counter(dict1) + Counter(dict2)
print(Cdict)

Counter({'for': 325, 'geek': 200, 'Geeks': 100, 'a': 12, 'c': 9})

In [ ]:
##(Q33)
# Python3 code to demonstrate working of
# Safe access nested dictionary key
# Using nested get()

# initializing dictionary
test_dict = {'Gfg' : {'is' : 'best'}}

# printing original dictionary
print("The original dictionary is : " + str(test_dict))

# using nested get()
# Safe access nested dictionary key
res5 = test_dict.get('Gfg', {}).get('is')

# printing result
print("The nested safely accessed value is :  " +str (res5))

The original dictionary is : {'Gfg': {'is': 'best'}}
The nested safely accessed value is :  best

In [ ]:
##(Q34)
from collections import OrderedDict
d = { '123': { 'key1': 3, 'key2': 11, 'key3': 3 },
      '124': { 'key1': 6, 'key2': 56, 'key3': 6 },
      '125': { 'key1': 7, 'key2': 44, 'key3': 9 },
    }
d_ascending = OrderedDict(sorted(d.items(), key=lambda kv: kv[1]['key3']))
d_descending = OrderedDict(sorted(d.items(),
                                  key=lambda kv: kv[1]['key3'], reverse=True))
print("ASCENDING IS :",d_ascending)
print("DESCENDING IS :",d_descending)

ASCENDING IS : OrderedDict([('123', {'key1': 3, 'key2': 11, 'key3': 3}), ('124', {'key1': 6, 'key2': 56, 'key3': 6}), ('125', {'key1': 7, 'key2': 44, 'key3': 9})])
DESCENDING IS : OrderedDict([('125', {'key1': 7, 'key2': 44, 'key3': 9}), ('124', {'key1': 6, 'key2': 56, 'key3': 6}), ('123', {'key1': 3, 'key2': 11, 'key3': 3})])